html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0%;
}

body {
  background-color: #19361e;
}

.btn {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #19361e;
}

.btn button {
  background: none;
  border: none;
  background-color: #19361e;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  border: 10px solid white;
  margin-left: 4%;
  margin-top: 4%;
  font-size: xx-large;
  color: #4ad763;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn button:hover {
  cursor: pointer;
  background-color: #122114;
}

.board {
  background-color: #131010;
  width: 30%;
  position: absolute;
  right: 20px;
  top: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.board .title {
  background-color: #19361e;
  padding: 20px;
  text-align: center;
  font-size: larger;
  color: #e2e2e2;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 5px;
  margin-bottom: 10px;
}

.board .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
}

.board .numbers .item {
  padding: 5px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
  /* <-- adjusting for margin */
  text-align: center;
  color: white;
}

.board .numbers .item.done {
  background-color: #00ad1e;
}

.btn-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 60%;
  text-align: center;
  background-color: #131010;
  padding: 10px;
  border-radius: 5px;
}

.btn-container button {
  background: none;
  border: none;
  background-color: #19361e;
  color: white;
  padding: 10px 30px;
  margin-left: 20px;
  border-radius: 5px;
}

.btn-container button:hover {
  cursor: pointer;
  background-color: #122114;
}

.numbershow {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #19361e;
  border: 15px solid white;
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  line-height: 250px;
  font-size: 100px;
  color: white;
}
/*# sourceMappingURL=style.css.map */